<div class="container-fluid admindashboardmenublock">
  <div class="container admindashboardwrapper">
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 admindashboardmenublock_logo">
        <a href="javascript:void(0)"><img src="../../assets/images/adminlogo.png" alt="#"></a>
      </div>
      <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7 admindashboardmenublock_menu">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>
            <div class="collapse navbar-collapse" id="myNavbar">

              <ul class="nav navbar-nav">
                <li><a href="javascript:void(0)" [routerLink]="['/rep-dashboard']">Dashboard</a></li>
                <li *ngIf="usertype=='superadmin'"><a href="javascript:void(0)" (click)="openmodal()" >Genealogy </a></li>
                <li *ngIf="usertype=='superadmin'" [routerLink]="['/mastergrouplist']"><a href="javascript:void(0)">Manage Master Group </a></li>
                <!--<li  class="btn-group" dropdown *ngIf="cookiedetails.type=='superadmin'">
                  <button id="button-basic1" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                          aria-controls="dropdown-basic1">
                    User Management <span class="caret"></span>
                  </button>
                  <ul id="dropdown-basic1" *dropdownMenu class="dropdown-menu"
                      role="menu" aria-labelledby="button-basic">
                    <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/userrecruiterlist','masteraccount']">Master Accounts</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/userrecruiterlist','salesrep']">Sales Reps</a></li>


                  </ul>
                </li>-->
                 <li><a href="javascript:void(0)" [routerLink]="['/userlist']" *ngIf="usertype=='salesrep'">Sales Team Report </a></li>
                <li class="btn-group" dropdown *ngIf="usertype=='superadmin' || usertype=='webdevelopers' || usertype=='corporatemanager'">
                  <button  id="button-basic7" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                          aria-controls="dropdown-basic2">
                    User Management <span class="caret"></span>
                  </button>
                  <ul id="dropdown-basic7" *dropdownMenu class="dropdown-menu"
                      role="menu" aria-labelledby="button-basic">
                   <!-- <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/userlist1']">User List</a></li> --> <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/userlist']">User List</a></li>
                    <li *ngIf="usertype=='superadmin' || usertype=='webdevelopers'" role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/helpdesklist']">Helpdesk List</a></li>
                    <!--<li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/helpdeskadd']">Add Helpdesk</a></li>-->
                    <li *ngIf="usertype=='superadmin' || usertype=='webdevelopers' " role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/corporatemanagerlist']">Corporate Manager List</a></li>
                    <!--<li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/corporatemanageradd']">Add Corporate Manager</a></li>-->

                  </ul>
                </li>
                <li  class="btn-group" dropdown *ngIf="usertype =='superadmin' || usertype =='corporate' || usertype =='leadmanager' || usertype =='salesrep'">
                  <button id="button-basic2" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                          aria-controls="dropdown-basic2">
                    CRM <span class="caret"></span>
                  </button>
                  <ul id="dropdown-basic2" *dropdownMenu class="dropdown-menu"
                      role="menu" aria-labelledby="button-basic">
                    <li role="menuitem" *ngIf="usertype=='superadmin'"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/userrecruiterlist','leadmanager']">Lead Managers</a></li>
                    <li role="menuitem" *ngIf="usertype=='superadmin'"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/userrecruiterlist','masteraccount']">Master Accounts</a></li>
                    <!--<li role="menuitem" *ngIf="usertype=='superadmin'"><a class="dropdown-item" href="javascript:void(0)" (click)="openmodal()">Recruiters</a></li>-->
                    <li role="menuitem" *ngIf="usertype=='superadmin'"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/userrecruiterlist','salesrep']">Sales Reps</a></li>
                    <li role="menuitem" *ngIf="usertype=='superadmin'"><a class="dropdown-item" href="javascript:void(0)"  [routerLink]="['/patient-list','admin']">Patients</a></li>
                    <li role="menuitem" *ngIf="usertype!='superadmin'"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/add-patient']">Add Patient</a></li>
                    <li role="menuitem" *ngIf="usertype!='superadmin'"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/patient-list']">Patient List </a></li>

                  </ul>
                </li>
                <li class="btn-group" dropdown *ngIf="usertype=='superadmin'">
                  <button id="button-basic5" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                          aria-controls="dropdown-basic2">
                    Patient <span class="caret"></span>
                  </button>
                  <ul id="dropdown-basic5" *dropdownMenu class="dropdown-menu"
                      role="menu" aria-labelledby="button-basic">
                   <!-- <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/patient-list1','admin']">PPS Approval Process</a></li> -->
                    <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/patient-list','admin']">PPS Approval Process</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="openmodal()">Status of Patients</a></li>

                  </ul>
                </li>

                <li  class="btn-group" dropdown *ngIf="usertype=='superadmin'">
                  <button id="button-basic3" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                          aria-controls="dropdown-basic3">
                    Lead System <span class="caret"></span>
                  </button>
                  <ul id="dropdown-basic3" *dropdownMenu class="dropdown-menu"
                      role="menu" aria-labelledby="button-basic">
                    <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="openmodal()">Round Robin</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="openmodal()">Upload Leads</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="openmodal()">Leads List </a></li>


                  </ul>
                </li>


                <li  class="btn-group" dropdown *ngIf="usertype=='superadmin'">
                  <button id="button-basic4" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                          aria-controls="dropdown-basic4">
                    Resources <span class="caret"></span>
                  </button>
                  <ul id="dropdown-basic4" *dropdownMenu class="dropdown-menu"
                      role="menu" aria-labelledby="button-basic">
                    <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/trainingcenter']">Training Center</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="openmodal()">Webinars</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/resources']">Resources</a></li>
                  </ul>
                </li>


                <li role="menuitem" *ngIf="usertype!='superadmin' && usertype!='helpdesk'"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/trainingcenter']">Training Center</a></li>
                <li role="menuitem" *ngIf="usertype!='superadmin' && usertype!='helpdesk'"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/resources']">Resources</a></li>
                <li role="menuitem" *ngIf="usertype!='superadmin' && usertype!='helpdesk'"><a class="dropdown-item" href="javascript:void(0)" (click)="openmodal()">Webinars</a></li>
                <!--<li role="menuitem" *ngIf="cookiedetails.type=='leadmanager' || usertype=='salesrep'"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/compensationmodifier']" >Sharelink</a></li>-->
                <li role="menuitem" *ngIf="usertype=='leadmanager'"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/compensationmodifier']" >Sharelink</a></li>
                <!--<li role="menuitem" *ngIf="usertype=='masteraccount'"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/sharelink']" >Sharelink</a></li>-->
                <li role="menuitem" *ngIf="usertype=='masteraccount' || usertype=='salesrep'|| usertype=='corporatemanager' "><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/sharelink']" >Sharelink</a></li>

                <li><a href="javascript:void(0)" [routerLink]="['/reports']" *ngIf="usertype!='helpdesk'">Reports </a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/commissions']" *ngIf="usertype!='helpdesk'">Commissions </a></li>
                <li class="hide"><a href="javascript:void(0)" (click)="gotoagreementpdf(cookiedetails)" *ngIf="usertype=='salesrep' && getdetailsbyidis?.signup_step>1">Employee Contract </a></li>
                <!--<li><a href="javascript:void(0)" [routerLink]="['/helpdeskadd']" *ngIf="usertype=='superadmin'">Add Helpdesk </a></li>-->
                <!-- <li *ngIf="usertype=='leadmanager'"><a href="javascript:void(0)" [routerLink]="['/compensationmodifier']">Compensation Modifier </a></li>-->


                <!--  <li  class="btn-group" dropdown *ngIf="usertype=='superadmin'">
                    <button id="button-basic9" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-basic4">
                      Helpdesk Management <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic9" *dropdownMenu class="dropdown-menu"
                        role="menu" aria-labelledby="button-basic">
                      <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/helpdesklist']">Helpdesk List</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/helpdeskadd']">Add Helpdesk</a></li>
                    </ul>
                  </li>-->


              </ul>


            </div>
          </div>
        </nav>

      </div>








      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 admindashboardmenublock_editbox">

        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                  aria-controls="dropdown-basic">
            <img src="../../assets/images/dashboard_top_icon1.png" alt="javascript:void(0)"><span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/myaccount']">Account Info</a></li>
            <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="calllogout()">Sign Out</a></li>


          </ul>
        </div>

      </div>



      <div class="clearfix"></div>

    </div>
  </div>
</div>


<div *ngIf="comingsoonmodal" class=" sign_modal modal fade" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <img src="../../assets/images/completewebinarlogo.png" alt="#" class="popup_logo1">
        <h1 class="text-center">Coming Soon</h1>
      </div>
    </div>
  </div>
</div>
