

<div class="container-fluid admin_inner_top">
  <div class="container admininnerwrappe">
    <a href="javascript:void(0)"><img src="../../assets/images/adminlogo.png" alt="#"></a>
    <!-- <a href="javascript:void(0)"><img src="images/adminlogo.png" alt="#"></a>-->

  </div>

</div>

<div class="container-fluid admin_inner_heading">

  <h2><span>Patient Profile Sheet-(Medicare) </span></h2>

</div>



<div class="container-fluid pateints_inner_body">
  <div class="container pateintswrappe">



    <div class="pateints_list_weraper">
      <form>

        <div class="pateintquestionire_div1">
          <table>
            <tr>
              <td><h2> PRODUCT(S)<br/>REQUESTED </h2></td>
              <td>
                <input  type="checkbox"/> <span>DME</span><br/>
                <input  type="checkbox"/><span> Rx</span><br/>
                <input  type="checkbox"/><span>PGX</span><br/>
                <input  type="checkbox"/> <span>CGX</span>
              </td>
              <td>
                <h3>{{_commonservices.commonvalue.name}}<br/>
                  610 W Congress Street<br/>
                  Detroit, MI 48226
                </h3>
              </td>

            </tr>

          </table>




          <div class="clearfix"></div>
        </div>

        <div class="pateintquestionire_div2">
          <div class="pateintquestionire_div2_left">

            <h3>PATIENT INFORMATION</h3>

            <div class="form-group">
              <label>First Name: </label><input type="text"  class="form-control1_pq"/>
              <div class="clearfix"></div>
            </div>

            <div class="form-group">
              <label>Last Name: </label><input type="text"  class="form-control1_pq"/>
              <div class="clearfix"></div>
            </div>

            <div class="form-group">
              <label>Best Phone #:</label><input type="text"  appNumber class="form-control1_pq"/>
              <div class="clearfix"></div>
            </div>


            <div class="form-group">
              <label>Address: </label><textarea></textarea>
              <div class="clearfix"></div>
            </div>


            <div class="form-group">
              <label>City/State/Zip: </label><input type="text"  class="form-control1_pq"/>
              <div class="clearfix"></div>
            </div>



            <div class="form-group">
              <label>Date of Birth: </label><input type="text"  class="form-control1_pq"/>
              <div class="clearfix"></div>
            </div>

            <div class="form-group">
              <label>Gender:  </label><input type="text"  class="form-control1_pq"/>
              <div class="clearfix"></div>
            </div>

            <div class="form-group">
              <label>Race/Ethnicity: </label><input type="text"  class="form-control1_pq"/>
              <div class="clearfix"></div>
            </div>

            <div class="form-group">
              <label>HT/WT : </label><input type="text"  class="form-control2_pq"/> /<input type="text"  class="form-control2_pqr"/>
              <div class="clearfix"></div>
            </div>

            <div class="form-group">
              <label>Allergies: </label><input type="text"  class="form-control1_pq"/>
              <div class="clearfix"></div>
            </div>

            <div class="form-group">
              <label>Medicare Claim # </label><input type="text"  class="form-control1_pq"/>
              <div class="clearfix"></div>
            </div>



          </div>

          <div class="pateintquestionire_div2_right">
            <h3>SPECIAL NOTES</h3>


            <div class="form-group">
              <label>A) : </label><input type="text"  class="form-control3_pq"/>
              <div class="clearfix"></div>
            </div>
            <div class="form-group">
              <label>B) : </label><input type="text"  class="form-control3_pq"/>
              <div class="clearfix"></div>
            </div>
            <div class="form-group">
              <label>C) : </label><input type="text"  class="form-control3_pq"/>
              <div class="clearfix"></div>
            </div>
            <div class="form-group">
              <label>D) : </label><input type="text"  class="form-control3_pq"/>
              <div class="clearfix"></div>
            </div>


          </div>


          <div class="clearfix"></div>
        </div>


        <div class="pateintquestionire_div2">
          <div class="pateintquestionire_div2_left">

            <h3>Pharmacy</h3>
            <div class="pdivcalass1">
              <span>Pharmacy Insurance Name:</span>
              <input type="text">

              <div class="clearfix"></div>
            </div>


            <div class="pdivcalass"><span>ID #:</span> <input type="text">
              <div class="clearfix"></div></div>
            <div class="pdivcalass"><span>BIN #:</span> <input type="text"> <div class="clearfix"></div></div>
            <div class="pdivcalass"><span>PCN #:</span> <input type="text"> <div class="clearfix"></div></div>
            <div class="pdivcalass"><span>GROUP #:</span> <input type="text"> <div class="clearfix"></div></div>

            <div class="pclass2">
              <div class="pdivcalass"><span> History / Reason:</span> <input type="text"> <div class="clearfix"></div></div>
              <div class="pdivcalass"><span>Area(s) of Issue:</span> <input type="text"> <div class="clearfix"></div></div>
              <div class="pdivcalass"><span>Treatments:</span><input type="text"> <div class="clearfix"></div></div>

            </div>




          </div>

          <div class="pateintquestionire_div2_right">
            <h3>Products Requested</h3>


            <p> <input  type="checkbox"/> <span>TOPICAL PAIN</span><br/></p>
            <p>  <input  type="checkbox"/><span> ORAL PAIN</span><br/></p>
            <p>  <input  type="checkbox"/><span>DERMA</span><br/></p>
            <p>  <input  type="checkbox"/> <span>MIGRAINE/HA</span></p>

          </div>


          <div class="clearfix"></div>
        </div>


        <div class="pateintquestionire_div2">

          <div class="pateintquestionire_div2_left2">
            <div class="pateintquestionire_div2_left2_heading">
              <div class="left2_heading1"><h5><span>PGX</span> (Med List)</h5></div>
              <div class="left2_heading2"><h5><span>CGX</span> (Questionnaire)</h5></div>
              <div class="left2_heading3"><p>TYPE</p></div>
              <div class="left2_heading4"><p>TYPE</p></div>
              <div class="left2_heading5"><p>AGE DIAGNOSED</p></div>
              <div class="left2_heading6"><p> IF DECEASED,</p></div>


              <div class="clearfix"></div>
            </div>

            <div class="pateintquestionire_div2_left2_contain">
              <div class="left2_heading1"><span>1.</span> <input type="text" /></div>
              <div class="left2_heading2"><p><strong>PERSONAL HISTORY:</strong></p></div>
              <div class="left2_heading3"><input type="text" /></div>
              <div class="left2_heading4"><input type="text" /></div>
              <div class="left2_heading5"><input type="text" /></div>
              <div class="left2_heading6"><p>AGE AT<br/>
                DEATH</p></div>


              <div class="clearfix"></div>
            </div>
            <div class="pateintquestionire_div2_left2_contain">
              <div class="left2_heading1"><span>2.</span> <input type="text" /></div>
              <div class="left2_heading2"><p><strong>FAMILY HISTORY:</strong></p></div>
              <div class="left2_heading3">&nbsp;</div>
              <div class="left2_heading4">&nbsp;</div>
              <div class="left2_heading5">&nbsp;</div>
              <div class="left2_heading6">&nbsp;</div>


              <div class="clearfix"></div>
            </div>
            <div class="pateintquestionire_div2_left2_contain">
              <div class="left2_heading1"><span>3.</span> <input type="text" /></div>
              <div class="left2_heading2"><p>MOTHER:</p></div>
              <div class="left2_heading3"><input type="text" /><span>,</span></div>
              <div class="left2_heading4"><input type="text" /></div>
              <div class="left2_heading5"><input type="text" /></div>
              <div class="left2_heading6"><input type="text" /></div>


              <div class="clearfix"></div>
            </div>

            <div class="pateintquestionire_div2_left2_contain">
              <div class="left2_heading1"><span>+</span> <input type="text" /></div>
              <div class="left2_heading2"><p>FATHER:</p></div>
              <div class="left2_heading3"><input type="text" /><span>,</span></div>
              <div class="left2_heading4"><input type="text" /></div>
              <div class="left2_heading5"><input type="text" /></div>
              <div class="left2_heading6"><input type="text" /></div>


              <div class="clearfix"></div>
            </div>
            <div class="pateintquestionire_div2_left2_contain">
              <div class="left2_heading1"><span>+</span> <input type="text" /></div>
              <div class="left2_heading2"><p>DAUGHTER:</p></div>
              <div class="left2_heading3"><input type="text" /><span>,</span></div>
              <div class="left2_heading4"><input type="text" /></div>
              <div class="left2_heading5"><input type="text" /></div>
              <div class="left2_heading6"><input type="text" /></div>


              <div class="clearfix"></div>
            </div>
            <div class="pateintquestionire_div2_left2_contain">
              <div class="left2_heading1"><span>+</span> <input type="text" /></div>
              <div class="left2_heading2"><p>SON:</p></div>
              <div class="left2_heading3"><input type="text" /><span>,</span></div>
              <div class="left2_heading4"><input type="text" /></div>
              <div class="left2_heading5"><input type="text" /></div>
              <div class="left2_heading6"><input type="text" /></div>


              <div class="clearfix"></div>
            </div>
            <div class="pateintquestionire_div2_left2_contain">
              <div class="left2_heading1"><span>+</span> <input type="text" /></div>
              <div class="left2_heading2"><p>BROTHER:</p></div>
              <div class="left2_heading3"><input type="text" /><span>,</span></div>
              <div class="left2_heading4"><input type="text" /></div>
              <div class="left2_heading5"><input type="text" /></div>
              <div class="left2_heading6"><input type="text" /></div>


              <div class="clearfix"></div>
            </div>
            <div class="pateintquestionire_div2_left2_contain">
              <div class="left2_heading1"><span>+</span> <input type="text" /></div>
              <div class="left2_heading2"><p>SISTER:</p></div>
              <div class="left2_heading3"><input type="text" /><span>,</span></div>
              <div class="left2_heading4"><input type="text" /></div>
              <div class="left2_heading5"><input type="text" /></div>
              <div class="left2_heading6"><input type="text" /></div>


              <div class="clearfix"></div>
            </div>

            <div class="pateintquestionire_div2_left2_contain">
              <div class="left2_heading1"><span>+</span> <input type="text" /></div>
              <div class="left2_heading2"><p>NEPHEW:</p></div>
              <div class="left2_heading3"><input type="text" /><span>,</span></div>
              <div class="left2_heading4"><input type="text" /></div>
              <div class="left2_heading5"><input type="text" /></div>
              <div class="left2_heading6"><input type="text" /></div>


              <div class="clearfix"></div>
            </div>
            <div class="pateintquestionire_div2_left2_contain">
              <div class="left2_heading1"><span>+</span> <input type="text" /></div>
              <div class="left2_heading2"><p>NIECE:</p></div>
              <div class="left2_heading3"><input type="text" /><span>,</span></div>
              <div class="left2_heading4"><input type="text" /></div>
              <div class="left2_heading5"><input type="text" /></div>
              <div class="left2_heading6"><input type="text" /></div>


              <div class="clearfix"></div>
            </div>

            <div class="pateintquestionire_div2_left2_contain">
              <div class="left2_heading1"><span>+</span> <input type="text" /></div>
              <div class="left2_heading2"><p>UNCLE:</p></div>
              <div class="left2_heading3"><input type="text" /><span>,</span></div>
              <div class="left2_heading4"><input type="text" /></div>
              <div class="left2_heading5"><input type="text" /></div>
              <div class="left2_heading6"><input type="text" /></div>


              <div class="clearfix"></div>
            </div>
            <div class="pateintquestionire_div2_left2_contain">
              <div class="left2_heading1"><span>+</span> <input type="text" /></div>
              <div class="left2_heading2"><p>AUTN:</p></div>
              <div class="left2_heading3"><input type="text" /><span>,</span></div>
              <div class="left2_heading4"><input type="text" /></div>
              <div class="left2_heading5"><input type="text" /></div>
              <div class="left2_heading6"><input type="text" /></div>


              <div class="clearfix"></div>
            </div>

            <div class="pateintquestionire_div2_left2_contain">
              <div class="left2_heading1"><span>+</span> <input type="text" /></div>
              <div class="left2_heading2"><p>MOM'S FATHER:</p></div>
              <div class="left2_heading3"><input type="text" /><span>,</span></div>
              <div class="left2_heading4"><input type="text" /></div>
              <div class="left2_heading5"><input type="text" /></div>
              <div class="left2_heading6"><input type="text" /></div>


              <div class="clearfix"></div>
            </div>

            <div class="pateintquestionire_div2_left2_contain">
              <div class="left2_heading1"><span>+</span> <input type="text" /></div>
              <div class="left2_heading2"><p>MOM'S MOTHER:</p></div>
              <div class="left2_heading3"><input type="text" /><span>,</span></div>
              <div class="left2_heading4"><input type="text" /></div>
              <div class="left2_heading5"><input type="text" /></div>
              <div class="left2_heading6"><input type="text" /></div>


              <div class="clearfix"></div>
            </div>

            <div class="pateintquestionire_div2_left2_contain">
              <div class="left2_heading1"><span>+</span> <input type="text" /></div>
              <div class="left2_heading2"><p>DAD'S FATHER:</p></div>
              <div class="left2_heading3"><input type="text" /><span>,</span></div>
              <div class="left2_heading4"><input type="text" /></div>
              <div class="left2_heading5"><input type="text" /></div>
              <div class="left2_heading6"><input type="text" /></div>


              <div class="clearfix"></div>
            </div>

            <div class="pateintquestionire_div2_left2_contain">
              <div class="left2_heading1"><span>+</span> <input type="text" /></div>
              <div class="left2_heading2"><p>DAD'S MOTHER:</p></div>
              <div class="left2_heading3"><input type="text" /><span>,</span></div>
              <div class="left2_heading4"><input type="text" /></div>
              <div class="left2_heading5"><input type="text" /></div>
              <div class="left2_heading6"><input type="text" /></div>


              <div class="clearfix"></div>
            </div>

            <div class="pateintquestionire_div2_left2_contain">
              <div class="left2_heading1"><span>+</span> <input type="text" /></div>
              <div class="left2_heading2"><p><i>OTHER :</i></p></div>
              <div class="left2_heading3"><input type="text" /><span>,</span></div>
              <div class="left2_heading4"><input type="text" /></div>
              <div class="left2_heading5"><input type="text" /></div>
              <div class="left2_heading6"><input type="text" /></div>


              <div class="clearfix"></div>
            </div>
            <div class="pateintquestionire_div2_left2_contain">
              <div class="left2_heading1"><span>+</span> <input type="text" /></div>
              <div class="left2_heading2"><p><i>OTHER :</i></p></div>
              <div class="left2_heading3"><input type="text" /><span>,</span></div>
              <div class="left2_heading4"><input type="text" /></div>
              <div class="left2_heading5"><input type="text" /></div>
              <div class="left2_heading6"><input type="text" /></div>


              <div class="clearfix"></div>
            </div>
            <div class="pateintquestionire_div2_left2_contain">
              <div class="left2_heading1"><span>+</span> <input type="text" /></div>
              <div class="left2_heading2"><p><i>OTHER :</i></p></div>
              <div class="left2_heading3"><input type="text" /><span>,</span></div>
              <div class="left2_heading4"><input type="text" /></div>
              <div class="left2_heading5"><input type="text" /></div>
              <div class="left2_heading6"><input type="text" /></div>


              <div class="clearfix"></div>
            </div>

          </div>


          <div class="pateintquestionire_div2_right2">
            <h3>Type of Cancer</h3>

            <label>* <u>Breast</u></label>
            <label>* <u>Ovarian</u></label>
            <label>* Digestive</label>
            <p>
              - Pancreatic<br/>
              - Colon<br/>
              - Rectal<br/>
              - Gallbladder<br/>
              - Intestinal<br/>
              - Stomach<br/>
              - Esophageal<br/>
              - Throat<br/>
              - Liver
            </p>

            <label>* Lung</label>
            <p>
              - Other Respiratory
            </p>


            <label>* Genital</label>
            <p>
              - Cervical<br/>
              - Uterine<br/>
              - Endometrial<br/>
              - Other Genital Organs
            </p>

            <label>* Prostate</label>
            <label>* Testicular</label>
            <label>* Kidney</label>
            <label>* Bladder</label>
            <p>- Urinary Tract</p>

            <label>* Leukemia</label>
            <label>* Lymphatic</label>
            <label>* Other Organ Systems</label>


          </div>

          <div class="clearfix"></div>
        </div>

        <div class="pateintquestionire_div3">

          <div class="pateintquestionire_bottom_form">
            <label>Rep ID: </label>
            <input type="text" />

            <div class="clearfix"></div>

          </div>


          <input type="submit"  value="Submit" class="pateintquestionirebtn"/>


          <div class="clearfix"></div>

        </div>



        <div class="clearfix"></div>

      </form>

    </div>








  </div>

</div>

<!--
<div class="container-fluid admin_inner_footer">
  <div class="container admininnerwrappe">
    <p>Copyright &copy; 2017-2018 Nex Healthcare . All rights reserved.</p>

  </div>

</div>

-->

<app-frontfooter></app-frontfooter>


