<!--<div class="container-fluid admindashboardmenublock">

  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 admindashboardmenublock_logo">
      <a href="javascript:void(0)"><img src="../../assets/images/adminlogo.png" alt="#"></a>
    </div>
    <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7 admindashboardmenublock_menu">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          </div>
          <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="nav navbar-nav">
              <li><a href="javascript:void(0)">Dashboard</a></li>
              <li><a href="javascript:void(0)">Genealogy </a></li>
              <li  class="btn-group" dropdown>
                <button id="button-basic1" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-basic1">
                  User Management <span class="caret"></span>
                </button>
                <ul id="dropdown-basic1" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Recruiters</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Sales Rep</a></li>


                </ul>
              </li>
              <li  class="btn-group" dropdown>
                <button id="button-basic2" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-basic2">
                  CRM <span class="caret"></span>
                </button>
                <ul id="dropdown-basic2" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Recruiters</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Sales Rep</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Patients </a></li>


                </ul>
              </li>
              <li  class="btn-group" dropdown>
                <button id="button-basic3" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-basic3">
                  Lead System <span class="caret"></span>
                </button>
                <ul id="dropdown-basic3" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Round Robin</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Upload Leads</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Leads List </a></li>


                </ul>
              </li>
              <li  class="btn-group" dropdown>
                <button id="button-basic4" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-basic4">
                  Resources <span class="caret"></span>
                </button>
                <ul id="dropdown-basic4" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Training Center</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Manage Webinars</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Manage Resources</a></li>


                </ul>
              </li>
              <li><a href="javascript:void(0)">Reports </a></li>
            </ul>


          </div>
        </div>
      </nav>

    </div>








    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 admindashboardmenublock_editbox">

      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-basic">
          <img src="../../assets/images/dashboard_top_icon1.png" alt="javascript:void(0)"><span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Account Info</a></li>
          <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="calllogout()">Sign Out</a></li>


        </ul>
      </div>

    </div>



    <div class="clearfix"></div>

  </div>

</div>-->
<app-frontheader></app-frontheader>
<div class="container-fluid admin_inner_heading">

  <h4><span>RESOURCE CENTER</span></h4>

</div>


<div class="container-fluid resourcesblock">
  <div class="resourcesblock_mainwrapper">
   <!-- <h2><span>Lorem Ipsum</span> dolor sit amet, corpora volutpat sententiae eos te, in purto aeterno hendrerit ius</h2>-->
    <h2>Welcome to the <span>Resource Center.</span> <br/>Please review the following documents to assist you in your education and sales strategies.</h2>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 resourcesblockcontent">
        <div class="row resourcesblockcontentinner">
          <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15">
            <div class="resourcessingleblock">
              <div class="resourcessingletopblockinner">
                <div class="resourcessingletopblock">
                  <div class="resourcessingleimgblock">
                    <img src="../../assets/images/pdf-icon.png">
                  </div>
                  <h3>This is the complete information on the CGX and PGX Test.</h3>
                </div>
                <div class="resourcessingletbottomblock">
                  <div class="row row-eq-height">
                    <!--  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 btnbottomvcol"><a href="javascript:void(0)" class="btnbottomv">View PDF</a></div>-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btnbottomvcol"><a href="../../assets/resource/{{_commonservices.commonvalue.CGXInformation2018}}.pdf" class="btnbottomv" target="_blank">Download PDF</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15">
            <div class="resourcessingleblock">
              <div class="resourcessingletopblockinner">
                <div class="resourcessingletopblock">
                  <div class="resourcessingleimgblock">
                    <img src="../../assets/images/pdf-icon.png">
                  </div>
                  <h3>Here is a quick sample call script.</h3>
                </div>
                <div class="resourcessingletbottomblock">
                  <div class="row row-eq-height">
                    <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 btnbottomvcol"><a href="javascript:void(0)" class="btnbottomv">View PDF</a></div>-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btnbottomvcol"><a href="../../assets/resource/{{_commonservices.commonvalue.CGXCallScript}}.pdf
" class="btnbottomv" target="_blank">Download PDF</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15">
            <div class="resourcessingleblock">
              <div class="resourcessingletopblockinner">
                <div class="resourcessingletopblock">
                  <div class="resourcessingleimgblock">
                    <img src="../../assets/images/pdf-icon.png">
                  </div>
                  <h3>Here is the test process information for you to study.</h3>
                </div>
                <div class="resourcessingletbottomblock">
                  <div class="row row-eq-height">
                    <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 btnbottomvcol"><a href="javascript:void(0)" class="btnbottomv">View PDF</a></div>-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btnbottomvcol"><a href="../../assets/resource/{{_commonservices.commonvalue.TestProcess2018}}.pdf
" class="btnbottomv" target="_blank">Download PDF</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="clearfix clearfixdemo"></div>
          <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15">
            <div class="resourcessingleblock">
              <div class="resourcessingletopblockinner">
                <div class="resourcessingletopblock">
                  <div class="resourcessingleimgblock">
                    <img src="../../assets/images/pdf-icon.png">
                  </div>
                  <h3>Flyer for Potential Participants.</h3>
                </div>
                <div class="resourcessingletbottomblock">
                  <div class="row row-eq-height">
                    <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 btnbottomvcol"><a href="javascript:void(0)" class="btnbottomv">View PDF</a></div>-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btnbottomvcol"><a href="../../assets/resource/{{_commonservices.commonvalue.FLyer}}.pdf
" class="btnbottomv" target="_blank">Download PDF</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15">
            <div class="resourcessingleblock">
              <div class="resourcessingletopblockinner">
                <div class="resourcessingletopblock">
                  <div class="resourcessingleimgblock">
                    <img src="../../assets/images/pdf-icon.png">
                  </div>
                  <h3>Auto Dialer Training Manual.</h3>
                </div>
                <div class="resourcessingletbottomblock">
                  <div class="row row-eq-height">
                    <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 btnbottomvcol"><a href="javascript:void(0)" class="btnbottomv">View PDF</a></div>-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btnbottomvcol"><a href="../../assets/resource/{{_commonservices.commonvalue.dailer}}.pdf
" class="btnbottomv" target="_blank">Download PDF</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15">
            <div class="resourcessingleblock">
              <div class="resourcessingletopblockinner">
                <div class="resourcessingletopblock">
                  <div class="resourcessingleimgblock">
                    <img src="../../assets/images/pdf-icon.png">
                  </div>
                  <h3>Patient Advocate Flow Chart</h3>
                </div>
                <div class="resourcessingletbottomblock">
                  <div class="row row-eq-height">
                    <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 btnbottomvcol"><a href="javascript:void(0)" class="btnbottomv">View PDF</a></div>-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btnbottomvcol"><a href="../../assets/resource/{{_commonservices.commonvalue.advocate}}.pdf
" class="btnbottomv" target="_blank">Download PDF</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix clearfixdemo"></div>

          <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15">
            <div class="resourcessingleblock">
              <div class="resourcessingletopblockinner">
                <div class="resourcessingletopblock">
                  <div class="resourcessingleimgblock">
                    <img src="../../assets/images/pdf-icon.png">
                  </div>
                  <h3>Headset Troubleshooting While on the VICI Dialer </h3>
                </div>
                <div class="resourcessingletbottomblock">
                  <div class="row row-eq-height">
                    <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 btnbottomvcol"><a href="javascript:void(0)" class="btnbottomv">View PDF</a></div>-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btnbottomvcol"><a href="../../assets/resource/{{_commonservices.commonvalue.Troubleshooting}}.pdf
" class="btnbottomv" target="_blank">Download PDF</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15">
            <div class="resourcessingleblock">
              <div class="resourcessingletopblockinner">
                <div class="resourcessingletopblock">
                  <div class="resourcessingleimgblock">
                    <img src="../../assets/images/pdf-icon.png">
                  </div>
                  <h3>Patient Advocates Procedure to Enter Test Patient Records </h3>
                </div>
                <div class="resourcessingletbottomblock">
                  <div class="row row-eq-height">
                    <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 btnbottomvcol"><a href="javascript:void(0)" class="btnbottomv">View PDF</a></div>-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btnbottomvcol"><a href="../../assets/resource/{{_commonservices.commonvalue.sop001}}.pdf
" class="btnbottomv" target="_blank">Download PDF</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15">
            <div class="resourcessingleblock">
              <div class="resourcessingletopblockinner">
                <div class="resourcessingletopblock">
                  <div class="resourcessingleimgblock">
                    <img src="../../assets/images/pdf-icon.png">
                  </div>
                  <h3>Help desk "INTERNAL ONLY" Patient Advocate Support Line </h3>
                </div>
                <div class="resourcessingletbottomblock">
                  <div class="row row-eq-height">
                    <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 btnbottomvcol"><a href="javascript:void(0)" class="btnbottomv">View PDF</a></div>-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btnbottomvcol"><a href="../../assets/resource/{{_commonservices.commonvalue.sop002}}.pdf
" class="btnbottomv" target="_blank">Download PDF</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>



  <!--        <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15">
            <div class="resourcessingleblock">
              <div class="resourcessingletopblockinner">
                <div class="resourcessingletopblock">
                  <div class="resourcessingleimgblock">
                    <img src="../../assets/images/pdf-icon.png">
                  </div>
                  <h3>NMS System Overview PDF Verview</h3>
                </div>
                <div class="resourcessingletbottomblock">
                  <div class="row row-eq-height">
                    &lt;!&ndash;<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 btnbottomvcol"><a href="javascript:void(0)" class="btnbottomv">View PDF</a></div>&ndash;&gt;
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btnbottomvcol"><a href="javascript:void(0)" class="btnbottomv">Download PDF</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15">
            <div class="resourcessingleblock">
              <div class="resourcessingletopblockinner">
                <div class="resourcessingletopblock">
                  <div class="resourcessingleimgblock">
                    <img src="../../assets/images/pdf-icon.png">
                  </div>
                  <h3>NMS System Overview PDF Verview</h3>
                </div>
                <div class="resourcessingletbottomblock">
                  <div class="row row-eq-height">
                    &lt;!&ndash;<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 btnbottomvcol"><a href="javascript:void(0)" class="btnbottomv">View PDF</a></div>&ndash;&gt;
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btnbottomvcol"><a href="javascript:void(0)" class="btnbottomv">Download PDF</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15">
            <div class="resourcessingleblock">
              <div class="resourcessingletopblockinner">
                <div class="resourcessingletopblock">
                  <div class="resourcessingleimgblock">
                    <img src="../../assets/images/pdf-icon.png">
                  </div>
                  <h3>NMS System Overview PDF Verview</h3>
                </div>
                <div class="resourcessingletbottomblock">
                  <div class="row row-eq-height">
                    &lt;!&ndash;<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 btnbottomvcol"><a href="javascript:void(0)" class="btnbottomv">View PDF</a></div>&ndash;&gt;
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btnbottomvcol"><a href="javascript:void(0)" class="btnbottomv">Download PDF</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15">
            <div class="resourcessingleblock">
              <div class="resourcessingletopblockinner">
                <div class="resourcessingletopblock">
                  <div class="resourcessingleimgblock">
                    <img src="../../assets/images/pdf-icon.png">
                  </div>
                  <h3>NMS System Overview PDF Verview</h3>
                </div>
                <div class="resourcessingletbottomblock">
                  <div class="row row-eq-height">
                    &lt;!&ndash; <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 btnbottomvcol"><a href="javascript:void(0)" class="btnbottomv">View PDF</a></div>&ndash;&gt;
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btnbottomvcol"><a href="javascript:void(0)" class="btnbottomv">Download PDF</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15">
            <div class="resourcessingleblock">
              <div class="resourcessingletopblockinner">
                <div class="resourcessingletopblock">
                  <div class="resourcessingleimgblock">
                    <img src="../../assets/images/pdf-icon.png">
                  </div>
                  <h3>NMS System Overview PDF Verview</h3>
                </div>
                <div class="resourcessingletbottomblock">
                  <div class="row row-eq-height">
                    &lt;!&ndash; <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 btnbottomvcol"><a href="javascript:void(0)" class="btnbottomv">View PDF</a></div>&ndash;&gt;
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btnbottomvcol"><a href="javascript:void(0)" class="btnbottomv">Download PDF</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15">
            <div class="resourcessingleblock">
              <div class="resourcessingletopblockinner">
                <div class="resourcessingletopblock">
                  <div class="resourcessingleimgblock">
                    <img src="../../assets/images/pdf-icon.png">
                  </div>
                  <h3>NMS System Overview PDF Verview</h3>
                </div>
                <div class="resourcessingletbottomblock">
                  <div class="row row-eq-height">
                    &lt;!&ndash; <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 btnbottomvcol"><a href="javascript:void(0)" class="btnbottomv">View PDF</a></div>&ndash;&gt;
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btnbottomvcol"><a href="javascript:void(0)" class="btnbottomv">Download PDF</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15">
            <div class="resourcessingleblock">
              <div class="resourcessingletopblockinner">
                <div class="resourcessingletopblock">
                  <div class="resourcessingleimgblock">
                    <img src="../../assets/images/pdf-icon.png">
                  </div>
                  <h3>NMS System Overview PDF Verview</h3>
                </div>
                <div class="resourcessingletbottomblock">
                  <div class="row row-eq-height">
                    &lt;!&ndash;<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 btnbottomvcol"><a href="javascript:void(0)" class="btnbottomv">View PDF</a></div>&ndash;&gt;
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btnbottomvcol"><a href="javascript:void(0)" class="btnbottomv">Download PDF</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>

<!--
<div class="container-fluid admin_footer2">
  <div class="row">


    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <p> <span>Copyright &copy; 2017 NEX HEALTH CARE. All Rights Reserved.</span></p>

    </div>


    <div class="clearfix"></div>
  </div>

</div>-->
<app-frontfooter></app-frontfooter>
