<!--<div class="container-fluid admin_inner_top">
  <div class="container admininnerwrappe">
    <a href="javascript:void(0)"><img src="../../assets/images/adminlogo.png" alt="#"></a>

  </div>

</div>-->
<app-frontheader></app-frontheader>
<div class="container-fluid admin_inner_heading">

  <h2><span>Account Information - Edit</span></h2>

</div>


<div class="container-fluid pateints_inner_body">
  <div class="container pateintswrappe">

    <div class="pateints_header">

      <!--<div class="pateints_header_left"><h2>USER MANAGEMENT <span>Edit</span></h2></div>-->
      <div class="pateints_header_right"></div>
      <div class="clearfix"></div>


    </div>


    <div class="pateints_list_weraper">


      <div class="myaccount_form_wrapper">


        <form role="form" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">

          <h6><a href="javascript:void(0)">Account Information</a></h6>

          <div class="form-group">
            <label>Rep ID: </label>
            <input type="text" class="form-control" [formControl]="dataForm.controls['uniqueid']" readonly/>
            <div class="clearfix"></div>

          </div>

          <div class="form-group">
            <label>Username : </label>
            <input type="text" class="form-control" [formControl]="dataForm.controls['username']" readonly/>
            <div class="clearfix"></div>

          </div>

          <div class="form-group">
            <label>Password :</label>
            <input type="password" class="form-control" [formControl]="dataForm.controls['password']"/>
            <div class="clearfix"></div>

          </div>

          <div class="form-group">
            <label>Confirm  Password:</label>
            <input type="password" class="form-control" [formControl]="dataForm.controls['confpassword']" (keyup)="addpatientvalidationcall()"/>
            <div class="clearfix"></div>
            <span class="has-error" *ngIf="passerror  && addpatientvalidation==1">{{passerror}}</span>
          </div>

          <h6><a href="javascript:void(0)">User Information</a></h6>

          <div class="form-group">
            <label>First Name :</label>
            <input type="text" class="form-control" [formControl]="dataForm.controls['firstname']" (keyup)="addpatientvalidationcall()"/>
            <span class="has-error" *ngIf ="dataForm.controls['firstname'].touched && !dataForm.controls['firstname'].valid  && addpatientvalidation==1">Invalid First Name!</span>
            <div class="clearfix"></div>

          </div>
          <div class="form-group">
            <label>Last Name :</label>
            <input type="text" class="form-control" [formControl]="dataForm.controls['lastname']" (keyup)="addpatientvalidationcall()"/>
            <span class="has-error" *ngIf ="dataForm.controls['lastname'].touched && !dataForm.controls['lastname'].valid  && addpatientvalidation==1">Invalid Last Name!</span>
            <div class="clearfix"></div>

          </div>
          <div class="form-group">
            <label>Address  :</label>
            <textarea [formControl]="dataForm.controls['address']" (keyup)="addpatientvalidationcall()"></textarea>
            <span class="has-error" *ngIf ="dataForm.controls['address'].touched && !dataForm.controls['address'].valid  && addpatientvalidation==1">Invalid Address!</span>
            <div class="clearfix"></div>

          </div>
          <div class="form-group">
            <label>Address2  :</label>
            <textarea [formControl]="dataForm.controls['address2']"></textarea>
            <div class="clearfix"></div>

          </div>

          <div class="form-group">
            <label>City  :</label>
            <input type="text" class="form-control" [formControl]="dataForm.controls['city']" (keyup)="addpatientvalidationcall()">
            <span class="has-error" *ngIf ="dataForm.controls['city'].touched && !dataForm.controls['city'].valid  && addpatientvalidation==1">Invalid City!</span>

            <div class="clearfix"></div>

          </div>

          <div class="form-group">
            <label>State   :</label>
            <!--<input type="text" class="form-control" [formControl]="dataForm.controls['state']">-->
            <select class="form-control" [formControl]="dataForm.controls['state']" (change)="addpatientvalidationcall()">
              <option value="" disabled selected>Select State</option>
              <option value="{{item.name}}" *ngFor="let item of usastates; let i = index">{{item.name}}</option>
            </select>
            <span class="has-error" *ngIf ="dataForm.controls['state'].touched && !dataForm.controls['state'].valid  && addpatientvalidation==1">Invalid State!</span>
            <!--<select  class="form-control2">
              <option>State </option>
              <option> State </option>
              <option> State </option>
            </select>-->
            <div class="clearfix"></div>

          </div>
          <div class="form-group">
            <label>Zip    :</label>
            <input type="text" class="form-control" [formControl]="dataForm.controls['zip']" (keyup)="addpatientvalidationcall()">
            <span class="has-error" *ngIf ="dataForm.controls['zip'].touched && !dataForm.controls['zip'].valid  && addpatientvalidation==1">Invalid Zip!</span>
            <div class="clearfix"></div>

          </div>

          <div class="form-group">
            <label>Gender  :</label>
            <select class="form-control2" [formControl]="dataForm.controls['gender']" (click)="addpatientvalidationcall()">
              <span class="has-error" *ngIf ="dataForm.controls['gender'].touched && !dataForm.controls['gender'].valid  && addpatientvalidation==1"> You must choose your gender!</span>
              <option value="male" name="gender">Male </option>
              <option value="female" name="gender">Female </option>
            </select>
            <div class="clearfix"></div>

          </div>

          <div class="form-group">
            <label>Date Of birth :</label>
            <input type="text" class="form-control" [formControl]="dataForm.controls['dob']" (keyup)="addpatientvalidationcall()">
            <span class="has-error" *ngIf ="dataForm.controls['dob'].touched && !dataForm.controls['dob'].valid  && addpatientvalidation==1">Invalid Date of Birth!</span>
            <div class="clearfix"></div>

          </div>
          <h6><a href="javascript:void(0)">Contact Information</a></h6>


          <div class="form-group">
            <label>Phone Number:</label>
            <input type="text" class="form-control" appNumber [formControl]="dataForm.controls['phone']" (keyup)="addpatientvalidationcall()">
            <span class="has-error" *ngIf ="dataForm.controls['phone'].touched && !dataForm.controls['phone'].valid  && addpatientvalidation==1">Phone No must be 10 numbers!</span>
            <div class="clearfix"></div>
          </div>

          <div class="form-group">
            <label>Email Address:</label>
            <input type="email" class="form-control" [formControl]="dataForm.controls['email']" readonly>
            <div class="clearfix"></div>
          </div>


          <h6><a href="javascript:void(0)">User Account</a></h6>
          <div class="form-group">
            <label>Account Type* :</label>
            <!--   <input type="text" class="form-control" [formControl]="dataForm.controls['type']">-->
            <select class="form-control2" [formControl]="dataForm.controls['type']" (click)="addpatientvalidationcall()">
              <option value="leadmanager" name="gender">Lead Manager </option>
              <option value="masteraccount" name="gender">Master account</option>
              <option value="salesrep" name="gender">Sales Rep</option>
            </select>
            <span class="has-error" *ngIf ="dataForm.controls['type'].touched && !dataForm.controls['type'].valid  && addpatientvalidation==1">Please choose any one!</span>
            <div class="clearfix"></div>
          </div>


          <div class="form-group">
            <label>Owner :</label>
            <input type="text" class="form-control" [formControl]="dataForm.controls['addedby']" readonly>
            <div class="clearfix"></div>
          </div>



          <!--  <div class="form-group">
            <label> <h6><a href="javascript:void(0)">Admin Notes</a></h6></label>
            <textarea class="notes_textarea2" [formControl]="dataForm.controls['notes']"></textarea>
            <div class="clearfix"></div>

          </div>

          <div class="form-group">
            <label> <h6><a href="javascript:void(0)">Account Status</a></h6></label>
            <input type="text" class="form-control" [formControl]="dataForm.controls['status']">
            <div class="clearfix"></div>

          </div>-->

          <div class="form-group">
            <label> <h6><a href="javascript:void(0)">Subdomain</a></h6></label>
            <div class="form-groupcheckbox">
              <!-- <input type="checkbox"> Yes &nbsp;&nbsp;<input type="checkbox"> No-->
              <input type="text" class="form-control" [formControl]="dataForm.controls['subdomain']"
                     readonly>
              <div class="clearfix"></div>
            </div>

          </div>





          <div class="clearfix"></div>



          <div class="myaccount_btn_wrapper">

            <input type="submit"  value="Save" class="btn1"/>
            <input type="button"  value="Cancel" class="btn2" (click)="cancelit()"/>

            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>

        </form>


      </div>



    </div>

  </div>
</div>

<div class="container-fluid admin_inner_footer">
  <div class="container admininnerwrappe">
    <p>Copyright &copy; 2017-2018 {{_commonservices.commonvalue.mailfrom}} . All rights reserved.</p>

  </div>

</div>
