<div class="container-fluid login_body">
  <img src="../../assets/images/loginlogo.png" alt="#" class="loginlogo">

  <h2>Reset Password</h2>

  <div class="login_form_box">

    <div class="login_form_wrapper">


      <form  role="form" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
        <span class="has-error" *ngIf="is_error">{{is_error}}</span>
        <p style="color: #f8ffff;">Identity verified to email id link</p><br/>

        <p style="color: #f8ffff;" *ngIf="userdetails">Username: {{userdetails.username}}</p>


        <input type="password"placeholder="Password" [formControl]="dataForm.controls['password']" (keyup)="addpatientvalidationcall()">
        <span class="has-error" *ngIf ="dataForm.controls['password'].touched && !dataForm.controls['password'].valid && getpassword('invalid')==true  && addpatientvalidation==1">Password is not valid ,Password must contain at least 8 characters,one lower case character , one upper case character , one number, one special character</span>

        <input type="password" placeholder="Confirm Password"  [formControl]="dataForm.controls['confpassword']" (keyup)="addpatientvalidationcall()">
        <span class="has-error" *ngIf ="dataForm.controls['confpassword'].touched && !dataForm.controls['confpassword'].valid  && addpatientvalidation==1">Please fill in the required field.</span>
        <div class="has-error" *ngIf ="dataForm.hasError('mismatchedPasswords') && dataForm.controls['confpassword'].valid   && addpatientvalidation==1">
          <span class="has-error">Passwords must match</span>
        </div>



        <input type="submit" value="RESET PASSWORD" class="login_btn">
        <div class="clearfix"></div>




      </form>

    </div>

  </div>


</div>


<div *ngIf="modalpasswordupdated" class=" sign_modal modal fade" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">

        <img src="../../assets/images/completewebinarlogo.png" alt="#" class="popup_logo1">
        <h1>Your password has been successfully updated.</h1>
      </div>
    </div>
  </div>
</div>