<!--<div class="container-fluid admindashboardmenublock">

  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 admindashboardmenublock_logo">
      <a href="javascript:void(0)"><img src="../../assets/../../assets/images/adminlogo.png" alt="#"></a>
    </div>
    <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7 admindashboardmenublock_menu">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          </div>
          <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="nav navbar-nav">
              <li><a href="javascript:void(0)">Dashboard</a></li>
              <li><a href="javascript:void(0)">Genealogy </a></li>
              <li  class="btn-group" dropdown>
                <button id="button-basic1" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-basic1">
                  User Management <span class="caret"></span>
                </button>
                <ul id="dropdown-basic1" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Recruiters</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Sales Rep</a></li>


                </ul>
              </li>
              <li  class="btn-group" dropdown>
                <button id="button-basic2" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-basic2">
                  CRM <span class="caret"></span>
                </button>
                <ul id="dropdown-basic2" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Recruiters</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Sales Rep</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Patients </a></li>


                </ul>
              </li>
              <li  class="btn-group" dropdown>
                <button id="button-basic3" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-basic3">
                  Lead System <span class="caret"></span>
                </button>
                <ul id="dropdown-basic3" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Round Robin</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Upload Leads</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Leads List </a></li>


                </ul>
              </li>
              <li  class="btn-group" dropdown>
                <button id="button-basic4" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-basic4">
                  Resources <span class="caret"></span>
                </button>
                <ul id="dropdown-basic4" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Training Center</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Manage Webinars</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Manage Resources</a></li>


                </ul>
              </li>
              <li><a href="javascript:void(0)">Reports </a></li>
            </ul>


          </div>
        </div>
      </nav>

    </div>








    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 admindashboardmenublock_editbox">

     &lt;!&ndash; <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-basic">
          <img src="../../assets/../../assets/images/dashboard_top_icon1.png" alt="javascript:void(0)"><span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)">Account Info</a></li>
          <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="calllogout()">Sign Out</a></li>


        </ul>
      </div>
&ndash;&gt;
    </div>



    <div class="clearfix"></div>

  </div>

</div>-->

<app-frontheader></app-frontheader>
<div class="container-fluid admin_inner_heading">

  <h5><span>Webinars </span></h5>

</div>



<div class="container webinar_wrapper">

  <h2>Lorem Ipsum is simply dummy text </h2>

  <!--  <h3>Lorem Ipsum <span>is simply Lorem Ipsum</span>  </h3>-->

  <div class="webinar_wrapper_context">
    <div class="webinar_wrapper_context_block">
      <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</h4>
      <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, scrambled it to make a type specimen book.</h5>

      <label> <a href="javascript:void(0)">http:// Lorem Ipsum is simply dummy text of the printing </a> </label>
      <label> 6 pm edt </label>

    </div>
  </div>

</div>


<!--
<div class="container-fluid admin_footer2">
  <div class="row">


    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <p> <span>Copyright &copy; 2017 NEX HEALTH CARE. All Rights Reserved.</span></p>

    </div>


    <div class="clearfix"></div>
  </div>

</div>-->



<app-frontfooter></app-frontfooter>