<div class="container-fluid login_body">
  <img src="../../assets/images/loginlogo.png" alt="#" class="loginlogo">

  <h2>Forgotten Password</h2>

  <div class="login_form_box">

    <div class="login_form_wrapper">


      <form  role="form" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
        <span class="has-error" *ngIf="is_error">{{is_error}}</span>
        <p style="color: #f8ffff;">Please enter your valid  email address and you will be sent a link to reset your password. You must use the same email id you have registered with us. If you no longer have the same email address then you must contact us directly with proof of your identity.</p><br/>
        <p *ngIf="showmessage" style="color: #f8ffff;" class="text-center">{{showmessage}}</p><br/>
        <input type="text" placeholder="EMAIL" [formControl]="dataForm.controls['email']" (keyup)="addpatientvalidationcall()">
        <span class="has-error" *ngIf ="dataForm.controls['email'].touched && !dataForm.controls['email'].valid  && addpatientvalidation==1">Invalid Email id!</span>

        <input type="submit" value="SEND EMAIL" class="login_btn">

        <div class="clearfix"></div>




      </form>

    </div>

  </div>


</div>