<app-frontheader></app-frontheader>
<div class="container-fluid sharelinkblock admindashboardbody">
  <div class="sharelinkblock_mainwrapper">
    <button href="javascript:void(0);" class="btnshareclass btnshareclasscenter" type="button">New</button>
    <h2>The links below are to your personal website and landing pages.  Note that each of the website addresses do have a unique indentifier that ensures you are given credit for all activity related to your links.  You will want to drive your traffic to these links.</h2>
    <div class="sharelinkblocksinglewrapper">
     <!-- <div class="row row-eq-height sharelinkblocksingle hide">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 sharelinkblockcontent sharelinkblockcontentleft">
          <div class="image_block">
            <img src="../../assets/images/nexhealthtoday-cgx.png">
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 sharelinkblockcontent sharelinkblockcontentright">
          <h2>CGS Page</h2>

          <div *ngIf="parentid!=null && userdetails!=null"><input type="text" value="http://{{serverhost}}/#/cgx/{{userdetails.mastergroupid}}/{{parentid}}/1" class="inputbox" disabled></div>
          <div class="share_div">
            <div class="share_block">
              <a href="javascript:void(0);"><img class="stLarge" src="../../assets/images/sharelink_email_32.png"></a>
              <a href="javascript:void(0);"><img class="stLarge" src="../../assets/images/sharelink_facebook_32.png"></a>
              <a href="javascript:void(0);"><img class="stLarge" src="../../assets/images/sharelink_twitter_32.png"></a>
              <a href="javascript:void(0);"><img class="stLarge" src="../../assets/images/sharelink_linkedin_32.png"></a>
              <a href="javascript:void(0);"><img class="stLarge" src="../../assets/images/sharelink_googleplus_32.png"></a>
              <a href="javascript:void(0);"><img class="stLarge" src="../../assets/images/sharelink_sharethis_32.png"></a>
            </div>
            <div class="share_btn5">
              <button class="btnshareclass" href="javascript:void(0);" type="button" ngxClipboard [cbContent]='callfunc1()' (click)="showcopied()">Copy Link</button>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>-->
      <div class="row row-eq-height sharelinkblocksingle">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 sharelinkblockcontent sharelinkblockcontentleft">
          <div class="image_block">
            <img src="../../assets/images/nexhealthtoday-signup.png">
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 sharelinkblockcontent sharelinkblockcontentright">
          <h2>Signup Page</h2>
          <div *ngIf="userdetails!=null"><input type="text" value="http://{{serverhost}}/#/sign-up/{{userdetails.mastergroupid}}/{{userdetails._id}}/1" class="inputbox" disabled></div>
          <div class="share_div">
            <div class="share_block">
              <a href="javascript:void(0);"><img class="stLarge" src="../../assets/images/sharelink_email_32.png"></a>
              <a href="javascript:void(0);"><img class="stLarge" src="../../assets/images/sharelink_facebook_32.png"></a>
              <a href="javascript:void(0);"><img class="stLarge" src="../../assets/images/sharelink_twitter_32.png"></a>
              <a href="javascript:void(0);"><img class="stLarge" src="../../assets/images/sharelink_linkedin_32.png"></a>
              <a href="javascript:void(0);"><img class="stLarge" src="../../assets/images/sharelink_googleplus_32.png"></a>
              <a href="javascript:void(0);"><img class="stLarge" src="../../assets/images/sharelink_sharethis_32.png"></a>
            </div>
            <div class="share_btn5">
              <button class="btnshareclass" href="javascript:void(0);" type="button" ngxClipboard [cbContent]='callfunc()' (click)="showcopied()" *ngIf="userdetails!=null">Copy Link</button>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
    <!--  <div class="row row-eq-height sharelinkblocksingle hide">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 sharelinkblockcontent sharelinkblockcontentleft">
          <div class="image_block">
            <img src="../../assets/images/landing_page.jpg">
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 sharelinkblockcontent sharelinkblockcontentright">
          <h2>Landing Page</h2>
          <div *ngIf="parentid!=null && userdetails!=null"><input type="text" value="http://{{serverhost}}/#/landing/{{userdetails.mastergroupid}}/{{parentid}}/1" class="inputbox" disabled></div>
          <div class="share_div">
            <div class="share_block">
              <a href="javascript:void(0);"><img class="stLarge" src="../../assets/images/sharelink_email_32.png"></a>
              <a href="javascript:void(0);"><img class="stLarge" src="../../assets/images/sharelink_facebook_32.png"></a>
              <a href="javascript:void(0);"><img class="stLarge" src="../../assets/images/sharelink_twitter_32.png"></a>
              <a href="javascript:void(0);"><img class="stLarge" src="../../assets/images/sharelink_linkedin_32.png"></a>
              <a href="javascript:void(0);"><img class="stLarge" src="../../assets/images/sharelink_googleplus_32.png"></a>
              <a href="javascript:void(0);"><img class="stLarge" src="../../assets/images/sharelink_sharethis_32.png"></a>
            </div>
            <div class="share_btn5">
              <button class="btnshareclass" href="javascript:void(0);" type="button" ngxClipboard [cbContent]='callfunc2()' (click)="showcopied()">Copy Link</button>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>
<app-frontfooter></app-frontfooter>


<div *ngIf="copiedmodal" class=" sign_modal modal fade" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <img src="../../assets/images/completewebinarlogo.png" alt="#" class="popup_logo1"><br/>
        <p class="copiedtext">URL Copied To Clipboard</p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
