<div class="container-fluid loginadminblock">
  <div class="loginadminblock_topwrapper topwrapperhomebottomborder">
    <app-header></app-header>
    <!--<div class="container-fluid repsignup_pageheading rephome_bannertext">
      <div class="row">
        <h2>Lorem Ipsum is simply dummy text</h2>
        <h3>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</h3>
      </div>
    </div>-->
  </div>
  <div class="loginadminblockwrapper">
    <div class="loginadminblock_middlewrapper">
      <div class="repportal_btn">
        <a [routerLink]="['/log-in']">Rep portal</a>
      </div>
      <img src="../../assets/images/nexrepportalbg.jpg">
      <div class="transparentbgwrapper"></div>
    </div>
  </div>

  <div class="loginadminblock_bottomwrapper">
    <app-footer></app-footer>
  </div>
</div>
