<div class="container-fluid cgxtop">


  <a href="javascript:void(0)"><img src="../../assets/images/loginlogo.png" alt="#"></a>
</div>

<div class="container-fluid cgxwrapper">

  <div class="cgxwrapper_body">
    <div class="cgxwrapper_wrapper">

      <h2>Health Insurance Agents Wanted!</h2>
      <div class="cgxul">
        <ul>
          <li> <a href="javascript:void(0)">Zero Cost Genetic Cancer Screening </a></li>
          <li> <a href="javascript:void(0)">Quick Commissions</a></li>
          <li> <a href="javascript:void(0)">Easy Processing</a></li>
          <li> <a href="javascript:void(0)">Protect Your Clients</a></li>
        </ul>

        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>

      <div class="cgxwrapper_video_wrapper">
        <div class="videoWrapper">
          <!-- Copy & Pasted from YouTube -->

          <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/Ac6k4a7HwhM?rel=0&hd=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
          <video width="560" height="315" id="video1" preload="none"  poster="../../assets/images/video_page_cover.jpg">
            <source src="../../assets/images/Harmonic.mp4" type="video/mp4">
          </video>
        </div>

      </div>

      <div class="cgxwrapper_text_wrapper">

        <p>Insurance Agents are getting EXCITED and making quick money with our program! Offer your clients, 65 or older, our new noninvasive at home DNA genetic screening for cancer.<br/><br/>
          Protect your clients, save lives and earn big commissions!<br/><br/>
          Client cost for test is zero! This is a free test for those with the Medicare plan b card.<br/><br/>
          Start offering this exclusive Genetic Screening today.</p>
        <div class="clearfix"></div>
        <a (click)="gotosignup()" class="link1">Click here to get started right away! </a>

      </div>



    </div>

  </div>


</div>
<app-footer></app-footer>